.homeContainer{
  background: #6a1b9a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This takes the full height of the viewport */
  width: 100vw;
}

.ruleSetImage {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  
  .tubesContainer {
    display: flex;
    justify-content: center;
    /*align-items: center; Center coins along the cross axis (now horizontal)  */
    gap: 20px;
  }
  
  /* .tube {
        display: flex;  Using flexbox for alignment 
        flex-direction: column;  Stack children vertically 
        justify-content: center; Center coins along the main axis (now vertical) 
        align-items: center;  Center coins along the cross axis (now horizontal) 
  } */
  
  /* .tubeImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: relative;
  } */
  
  .ball {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    /* position: relative; */
    bottom: 0; /* Start stacking from the bottom of the tube */
    transform: translateX(-50%); /* Center the ball horizontally */
    transition: transform 0.2s; /* Smooth transition for dragging */
  }
  
  .ball.blue {
    background-color: blue;
  }
  
  .ball.orange {
    background-color: orange;
  }
  