.homeContainer{
  background: #6a1b9a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This takes the full height of the viewport */
  width: 100vw;
}

.game-board {
    position: relative;
  }

  .shape {
    width: 50px;
    height: 50px;
  }
  
  .drawer {
    cursor: pointer; /* to indicate it's clickable */
    position: absolute;
    gap:20px;
    background-color: rgb(255, 0, 0, 0.2); /* Fully red background without opacity */
    border: 2px solid black;
    width: 34px;
    height: 34px;
  }

  .draggingOver {
    background-color: rgb(144, 238, 144, 0.5); /* color when a draggable item is over the droppable */
  }
  .openDrawer {
    background-color: black;
  }


  .drawer.drawer-1 {
    top: 169px; /*334-169=*/
    left: 504px; 
  }
  .drawer.drawer-2 {
    top: 169px;
    left: 627px;
  }
  .drawer.drawer-3 {
    top: 169px;
    left: 749px;
  }
  .drawer.drawer-4 {
    top: 169px;
    left: 872px;
  }
  .drawer.drawer-5 {
    top: 169px;
    left: 995px; /*995-575=*/
  }


  .drawer.drawer-6 {
    top: 291px;
    left: 504px;
  }
  .drawer.drawer-7 {
    top: 291px;
    left: 627px;
  }
  .drawer.drawer-8 {
    top: 291px;
    left: 749px;
  }
  .drawer.drawer-9 {
    top: 291px;
    left: 872px;
  }
  .drawer.drawer-10 {
    top: 291px;
    left: 995px;
  }


  .drawer.drawer-11 {
    top: 413px;
    left: 504px;
  }
  .drawer.drawer-12 {
    top: 413px;
    left: 627px;
  }
  .drawer.drawer-13 {
    top: 413px;
    left: 749px;
  }
  .drawer.drawer-14 {
    top: 413px;
    left: 872px;
  }
  .drawer.drawer-15 {
    top: 413px;
    left: 995px;
  }

  